* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-size: 10px;
  
  --clr-light: #ffffff;
  --clr-dark: #000000;

  --clr-primary: #f3f3f3;
  --clr-highlight: #63bfc4;
  --clr-stats: hsl(0, 2.9%, 26.7%);
}


html {
  font-size: var(--font-size);
}

body {
  background-color: var(--clr-primary);
}

section {
  background-color: var(--clr-light);
}

.flex {
  display: flex;
}


#bookInputModal {
  font-size: calc(var(--font-size) * 1.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

#formModal {
  flex-flow: column nowrap;
  gap: 1rem;  
}

#formModal div {
  display: flex;
  gap: 2rem;
}

.bookInputCancelBtn {
  align-self: flex-end;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

#submitBook {
  align-self: center;
  padding: .5rem 3rem;
}

label {
  display: inline-block;
  max-width: fit-content;  
  margin-right: 1rem;
}

input {
  max-width: 15rem;
}


#library {
  max-width: 100%;
  display: grid;
  grid-template: 1fr 5fr / 1.3fr 4fr;
  grid-template-areas: "header header"
                       "bookStats bookList";
  gap: 2rem;
}


#header {
  font-size: calc(var(--font-size) * 1.8);
  padding: 4rem;
  grid-area: header;
}


#libraryStats {
  padding: 4rem 2rem;
  flex-flow: column nowrap;
  gap: 4rem;
}

.libraryStats {
  font-size: calc(var(--font-size) * 1.6);
  flex-flow: column nowrap;
  gap: 2rem; 
}

.libraryStats > div {
  gap: 2rem;
}

.libraryStats div > p:first-child {
  width: 130px;
}

.libraryStats p+p {
  color: var(--clr-stats);  
}


#bookList {
  padding: 2rem 2rem; 
  display: grid;
  grid-template: repeat(auto-fit, minmax(200px, .5fr)) / repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

#bookList > div {
  font-size: calc(var(--font-size) * 1.5);
  max-width: 25rem;
  padding: 2rem 2rem 3rem 2rem;
  background: var(--clr-primary);
  border: 1px solid var(--clr-light);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.bookCardDiv > div {
  display: flex;
  gap: 2rem;
}

.bookCardDiv > div > p:first-child {
  width: 60px;
}

.bookCardDiv p + p {
  color: var(--clr-stats);
  max-width: max-content;
}

.deleteBookCardBtn {
 align-self: flex-end;
}

.toggleBtn {
  align-self: center;
  padding: .3rem 4rem;
  background: var(--clr-highlight);
  border: none;
}

