* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-size: 10px;
  
  --clr-light: #ffffff;
  --clr-dark: #000000;

  --clr-primary: #f3f3f3;
  --clr-highlight: #63bfc4;
  --clr-stats: HSL(0, 2.9%, 26.7%);
  --clr-btn-bg: HSL(195, 100%, 40%);
  --clr-input-border: HSL(240, 6.7%, 58.8%); 
  --clr-bg-bookNotRead: HSL(351.8, 57.3%, 65.1%);
}

html {
  font-size: var(--font-size);
  height: 100%;
}

body {
  background-color: var(--clr-primary);
  height: 100%;
}

section {
  background-color: var(--clr-light);
}

.flex {
  display: flex;
}

button:hover {
  transform: scale(1.1);
}


dialog {
  font-size: calc(var(--font-size) * 1.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: 4px solid var(--clr-btn-bg);
  border-radius: 8px;
}

dialog::backdrop {
  background: #f3f3f3;
  opacity: 0.7;
}

#formModal {
  flex-flow: column nowrap;
  gap: 2rem;  
}

#formModal div {
  justify-content: space-between;
  gap: 3rem;
}

.bookInputCancelBtn {
  align-self: flex-end;
  padding: .25rem .5rem;
  margin-bottom: 1.5rem;
  border: 2px solid var(--clr-btn-bg);
  border-radius: 6px;
  color: var(--clr-btn-bg);
  background: transparent;
  transition-duration: 0.4s;
  cursor: pointer;
}

.bookInputCancelBtn:hover {
  background-color: var(--clr-btn-bg);
  color: var(--clr-light);
}

#submitBook {
  font-size: inherit;
  letter-spacing: 1px;
  color: var(--clr-btn-bg);
  background: transparent;
  border: 3px solid var(--clr-btn-bg);
  border-radius: 6px;
  align-self: center;
  margin-top: 2rem;
  padding: 1.2rem 3.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

#submitBook:hover {
  background: var(--clr-btn-bg);
  color: var(--clr-light);
}

#submitBook:focus {
  border: none;
}

label {
  display: inline-block;
  max-width: fit-content;  
  margin-right: 1rem;
  width: 15rem;
}

input {
  width: 15rem;
  padding: 2px 0 2px 5px;
  border: 1px solid var(--clr-input-border);
  border-radius: 3px;
  transition-duration: 0.4s;
}

input:is(:hover, :focus) {
  border-color: var(--clr-btn-bg);
}


#library {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: 100px  / 1.3fr 4fr;
  grid-template-areas: "header header"
                       "bookStats bookList";
  gap: 2rem;
}


#header {
  font-size: calc(var(--font-size) * 1.8);
  padding: 4rem;
  grid-area: header;
}


#libraryStats {
  padding: 4rem 2rem;
  flex-flow: column nowrap;
  gap: 4rem;
}

.libraryStats {
  font-size: calc(var(--font-size) * 1.6);
  flex-flow: column nowrap;
  gap: 2rem; 
}

.libraryStats > div {
  gap: 2rem;
}

.libraryStats div > p:first-child {
  width: 130px;
}

.libraryStats p + p {
  color: var(--clr-stats);  
}


.addNewBookBtn {
  color: var(--clr-btn-bg);
  background: transparent;
  border: 3px solid var(--clr-btn-bg);
  border-radius: 6px;
  padding: 1.6rem 3.2rem;
  text-align: center; 
  font-size: calc(var(--font-size) * 1.6);
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
} 

.addNewBookBtn:hover {
  background-color: #008CBA;
  color: var(--clr-light);
}


#books {
  padding: 2rem 2rem;
}

#bookList {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  gap: 2rem;
}

#bookList > div {
  font-size: calc(var(--font-size) * 1.5);
  padding: 2rem 2rem 3rem 2rem;
  background: var(--clr-primary);
  border: 1px solid var(--clr-light);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.bookCardDiv > div {
  display: flex;
  gap: 2rem;
}

.bookCardDiv > div > p:first-child {
  width: 60px;
}

.bookCardDiv p + p {
  color: var(--clr-stats);
}

.bookCardDiv div:nth-child(-n+3) > p + p {
  overflow-x: scroll;
}

.deleteBookCardBtn {
  align-self: flex-end;
  border: none; 
  border-radius: 3px;
}

.bookRead, .bookNotRead {
  align-self: center;
  padding: 1.2rem 3.2rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: bold;
  width: 150px;
  color: var(--clr-light);
  transition-duration: 0.4s;
}

.bookRead {
  background: var(--clr-btn-bg);
}

.bookNotRead {
  background: var(--clr-bg-bookNotRead);
}


@media (min-width: 3
